@import "normalize";
@import "helpers";
@import "mixins";

$color: #222;
$font-size: 14;
$font-family: helvetica, arial, verdana, sans-serif;
$text-highlight-color: #b3d4fc;

html {
    font-size: 62.5%;
}

body,
button,
input,
select,
textarea {
    color: $color;
    font-family: $font-family;
}

body {
    @include font-size($font-size);
}

::-moz-selection {
    background: $text-highlight-color;
    text-shadow: none;
}

::selection {
    background: $text-highlight-color;
    text-shadow: none;
}

/* Author: Saul Hardman (@saulhardman) */

body {
    padding: 30px;
}

p {
    margin: 20px 0 0;
    font-weight: 500;
}

@import "media-queries";