extends layout

block content
    p Welcome to Frontmend

block javascript
    //- Production JavaScript, include after running `grunt build`
    //- script(src="js/main.min.js")
    script(src="js/components/requirejs/require.js", data-main="js/main")