doctype 5
html(lang="en", class="no-js")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0,initial-scale=1.0,minimum-scale=1.0")
    block title
        title Frontmend Framework
    meta(name="description", content="A bare bones front-end framework powered by RequireJS, bower, and grunt.")
    link(rel="stylesheet", href="css/main.css")
    // Replace with production version
    script(src="js/components/modernizr/modernizr.js")
body
    block content
    block javascript