# Superfluousness at its finest
.DS_Store

# Ignore node_modules required by grunt and alike
node_modules/

# We don't need the bower installed components
js/components/

# Processed dist/ (production) directory not needed
dist/