extends layout

block content
    p Welcome to Frontmend
    p(id="example")

block javascript
    if debug == true
        script(src="js/components/requirejs/require.js", data-main="js/main")
    else
        script(src="js/main.min.js")