doctype 5
html(lang="en", dir="ltr", manifest=(debug ? "" : "/manifest.appcache"), class="no-js")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0")
        block title
            title Frontmend
        meta(name="description", content="A bare bones front-end 'delete friendly' boilerplate, fuelled by bower and grunt")
        link(rel="stylesheet", href="css/main.css")
        if debug
            script(src="js/components/modernizr/modernizr.js")
        else
            script(src="js/utilities/modernizr.min.js")
    body
        block content

        script var config = { debug: #{debug} };
        block javascript